<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: headers}"></th:block>
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
    <p>Super księgarnia IT-CAMP sp.z.o.o</p>
    <p>ul. Książkowa 14<br>Kraków 123-12</p>
    <p>pon-pt: 9:00 - 17:00</p>
    <p>sob-nd: zamknięte</p>
    <p>Telefon: 12 123 12 12</p>
    <p>Email: ksiegarnia@itcamp.com</p>
</div>
</body>
</html>