<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: headers}"></th:block>
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
    <form method="post">
        <input class="text-field" type="text" placeholder="Login" name="login">
        <input class="text-field" type="password" placeholder="Hasło" name="password">
        <input class="button" type="submit" value="Zaloguj">
    </form>
    <p>Nie masz konta ?? <a href="/register">Zarejestruj</a></p>
</div>
</body>
</html>