<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: headers}"></th:block>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div class="search-form">
    <form method="get" action="/main" style="display: flex; justify-content: center; align-items: center; gap: 10px;">
        <input type="text" name="search" placeholder="Wyszukaj książkę..." th:value="${search}" class="text-field search-narrow">
        <button type="submit" class="button">Szukaj</button>
    </form>
</div>
<div id="content">
    <div class="book" th:each="book : ${books}">
        <div class="title" th:text="${book.title}"></div>
        <div class="author" th:text="${book.author}"></div>
        <div class="info">
            <div th:text="${'ISBN: ' + book.isbn}"></div>
            <div th:text="${'Cena: ' + book.price + ' zł'}"></div>
            <div th:text="${'Ilość: ' + book.quantity}"></div>
            <div th:if="${session.user != null}" class="add-to-cart-button" th:onclick="'addToCart(' + ${book.id} + ')'">Dodaj do koszyka</div>
            <div th:if="${session.user != null and session.user.role.name() == 'ADMIN'}"><a th:href="@{/editBook/{id}(id=${book.id})}">Edytuj</a></div>
        </div>
    </div>
</div>
</body>
</html>