<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments.html :: headers}"></th:block>
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
  <form method="post" action="/confirm">
    <input class="text-field" type="text" placeholder="Miasto" th:field="*{orderObject.city}">
    <input class="text-field" type="text" placeholder="Ulica" th:field="*{orderObject.street}">
    <input class="text-field" type="text" placeholder="Numer budynku/mieszkania" th:field="*{orderObject.no}">
    <input class="text-field" type="text" placeholder="Kod pocztowy" th:field="*{orderObject.postCode}">
    <input class="text-field" type="text" placeholder="Numer telefonu" th:field="*{orderObject.phoneNumber}">
    <input class="button" type="submit" value="Zamów">
  </form>
</div>
</body>
</html>