<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: headers}"></th:block>
    <link rel="stylesheet" href="orders.css">
    <script src="orders.js"></script>
</head>
<body>
<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>
<div id="content">
    <div class="big-row" th:if="${orders.size() != 0}">
        <div class="id">Id</div>
        <div class="date">Data</div>
        <div class="price">Cena</div>
        <div class="quantity">Ilość</div>
    </div>
    <th:block th:each="order : ${orders}">
        <div class="big-row" onclick="showDetails(event)">
            <div th:text="${order.id}" class="id"></div>
            <div th:text="${#dates.format(order.date, 'dd.MM.yyyy HH:mm')}" class="date"></div>
            <div th:text="${#numbers.formatDecimal(order.price, 2, 2, 'POINT') + ' zł'}" class="price"></div>
            <div th:text="${order.positions.size()}" class="quantity"></div>
            <div class="details">
                <div th:text="${order.addressLine()}" class="address"></div>
                <div class="inner-row">
                    <div class="title">Tytuł</div>
                    <div class="author">Autor</div>
                    <div class="price">Cena j.</div>
                    <div class="quantity">Ilość</div>
                    <div class="sum">Suma</div>
                </div>
                <div class="inner-row" th:each="position : ${order.positions}">
                    <div class="title" th:text="${position.title}"></div>
                    <div class="author" th:text="${position.author}"></div>
                    <div class="price" th:text="${position.price}"></div>
                    <div class="quantity" th:text="${position.quantity}"></div>
                    <div class="sum" th:text="${position.sum()}"></div>
                </div>
            </div>
        </div>
    </th:block>
    <div th:if="${orders.size() == 0}">Nie masz jeszcze zamówień !!</div>
</div>
</body>
</html>